main{
    display: flex;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url(tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg);
  }

.Text{
color: white;
}
.TextWin{
    color: white;
}
.blockWho{
    padding: 25px;
}
#spanWho{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 24px;
}
.blockArea{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background: aliceblue;
    border-radius: 24px;
    box-shadow: 3px 5px 1px 1px rgba(0, 0, 0, 0.295);
}
.blockItem{
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 8px;
    background: gray;
    width: 140px;
    border-radius: 24px;
    height: 140px;
    margin: 5px;
    justify-content: center;
}
.blockItem:hover{
    background: rgb(174, 174, 174);
}


.krest{
    color: rgb(255, 0, 0);
    font-size: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.circle{
    color: rgb(25, 0, 255);
    font-size: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
}

 .winColor{
    color: rgb(187, 0, 255);
    background: gold;
    font-size: 50px;
    font-weight: 900;
}

.blockWinner{
    margin-top: 24px;
    display: none;
    flex-direction: column;
}

.textWin{
    font-size: 25px;
    margin-bottom: 12px;
}

 #spanWin{
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.btnNewGame{
    padding: 24px;
    background: rgb(247, 0, 255);
    border-radius: 16px;
    color: rgb(0, 0, 0);
    font-weight: 750;
    text-align: center;
    cursor: pointer;
}
.btnNewGame:hover{
    background: rgb(215, 65, 241);
}
.text1{
   padding-left: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 60px;
    font-size: 72px;
    color: rgb(204, 16, 16);
    font-weight: 900;
    transform: rotate(-10deg);
}